.popup__container-title {
    margin: 0;
    padding: 0;
    margin-bottom: 54px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
}

@media screen and (max-width: 500px) {
    .popup__container-title {
        font-size: 18px;
        line-height: 21.78px;
        margin-bottom: 75px;
    }
}