.profile__add-button {
    margin: 0;
    padding: 0;
    background-image: url(../../../images/add_button.svg);
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
    background-position: center;
    background-color: transparent;
    border: solid 2px white;
    cursor: pointer;
    border-radius: 2px;
}

.profile__add-button:hover {
    transition: .2s linear;
    opacity: .6;
}

@media screen and (max-width: 805px) {
    .profile__add-button {
        width: calc(100% - 150px);
    }
}

@media screen and (max-width: 425px) {
    .profile__add-button {
        width: 100%;
    }
}