.elements__like-button {
    background-image: url(../../../images/elements_like.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 19px;
    width: 22px;
    border: none;
    cursor: pointer;
}

.elements__like-button:hover {
    transition: .2s linear;
    opacity: .5;
}