.auth__input {
    padding: 0 0 13px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
  }