.header {
    width: calc(100% - 400px);
    margin: 0 auto;
    margin-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1050px) {
    .header {
        width: calc(100% - 150px);

    }
}

@media screen and (max-width: 425px) {
    .header {
        width: 100%;
        margin-top: 26px;
    }
}